<div class="mt-4">
    <h3>Trang Đăng Khóa Học</h3>

    <form class="mt-4" method="POST" action="/courses/store">
        <div class="mb-3">
            <label for="name">Tên khóa học</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="name">
        </div>
        <div class="mb-3">
            <label for="description">Mô tả</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="description">
        </div>
        <div class="mb-3">
            <label for="videoID">videoID</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="videoID">
        </div>
        
        <div class="mb-3">
            <label for="level">Cấp độ</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="level">
        </div>

        <button type="submit" class="btn btn-primary">Thêm khóa học</button>
    </form>
</div>